
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(120deg, #fcc30899, #ee6c1699);
    color: #fff;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}
header{
    font-size: 2rem;
}
header,
form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: #fff;
}
form button{
    color: #ee6c169a;
    background: #fff;
    transition: all 0.3 ease;
    cursor: pointer;
}
form button:hover{
    color: #fff;
    background: #ee6c1655;
}